@page "{userId}"
@using SimpleForum.Extensions
@using SimpleForum.Models
@using SimpleForum.Services
@using Microsoft.AspNetCore.Http.Extensions
@inject ICurrentUserAccessor _userAccessor;
@model SimpleForum.Pages.Users.Index
@{
    ViewData["Title"] = Model.Data.Username;
}

<div class="main-container main-profile-container">
    <div class="user-info">
        <img src="@Html.ProfileImgUrl(Model.Data.ProfileImage)" alt="Profile picture of @Model.Data.Username" />
        <h2 class="user-info-name">@Model.Data.Username</h2>
        <p>Joined: @Model.Data.DateJoined.ToString("d")</p>
    </div>
    <div class="profile-page-section">
        <div class="profile-page-section-header">
            <h1>Recent threads</h1>
            <a href="javascript:void(0)">View all</a>
        </div>
        @foreach (ForumThread thread in Model.Data.RecentThreads)
        {
            <div class="profile-recent-thread">
                <a asp-page="/Threads/View" asp-route-threadId="@thread.ThreadId">@thread.Title</a>
                <div class="divider"></div>
                <span>Posted in: <a asp-page="/Forums/Index" asp-route-forumId="@thread.ForumId">@thread.Forum.Name</a></span>
            </div>
        }
    </div>
    <div class="profile-page-section">
        <div class="profile-page-section-header">
            <h1>Recent comments</h1>
            <a href="javascript:void(0)">View all</a>
        </div>
        @foreach (ForumReply reply in Model.Data.RecentReplies)
        {
            <div class="profile-recent-reply">
                <a class="recent-reply-content" asp-page="/Posts/Index" asp-route-id="@reply.ReplyId">@reply.Content</a>
                <div class="recent-reply-links">
                    <span>Replying to: <a asp-page="/Threads/View" asp-route-threadId="@reply.ThreadId">@reply.Thread.Title</a></span>
                </div>
            </div>
        }
    </div>
    <div class="profile-comments">
        <h1>Profile comments</h1>
        @if (User.Identity is { IsAuthenticated: true })
        {
            <form class="reply-form profile-comment-form" asp-page="/Users/PostProfileComment" asp-route-id="@Model.Data.Username" method="post">
                <textarea name="content" placeholder="Post a new comment"></textarea>
                <input type="hidden" name="redirectUrl" value="@Request.GetEncodedUrl()">
                <button type="submit">Comment</button>
            </form>
        }
        
        @foreach (ProfileComment comment in Model.Data.ProfileComments)
        {
            <div class="reply">
                <div class="reply-profile-container">
                    <img class="reply-profile-image" src="@Html.ProfileImgUrl(comment.User.ProfileImage)">
                    <a asp-page="/Users/Index" asp-route-userId="@comment.UserId">@comment.User.Username</a>
                </div>
                <div class="reply-content">
                    <div class="reply-content-header">
                        <time datetime="@comment.DatePosted.ToString("O")">@comment.DatePosted.ToString("f")</time>
                        <div class="divider"></div>
                        @if (_userAccessor.User?.Username == comment.UserId)
                        {
                            <form asp-page="/Users/Comments/Delete" asp-route-id="@comment.ProfileCommentId" asp-route-redirectUrl="@Request.GetEncodedUrl()" method="post">
                                <button class="link-style-btn" type="submit">Delete</button>
                            </form>
                        }
                    </div>
                    <p>@comment.Content</p>
                </div>
            </div>
        }
    </div>
</div>