@page "/threads/{threadId}/{handler?}"
@using SimpleForum.Models
@using SimpleForum.Extensions
@model Threads.View
@{
    ViewData["Title"] = Model.Data.Title;
}

<div class="main-container">
    <div class="thread-header">
        <h1>@Model.Data.Title</h1>
    </div>
    
    @foreach (ForumReply reply in Model.Data.Replies)
    {
        <div class="thread-reply" id="r@(reply.ReplyId)">
            <div class="reply-profile-container">
                <img class="reply-profile-image" src="@Html.ProfileImgUrl(reply.User.ProfileImage)" />
                <a asp-page="/Users/Index" asp-route-userId="@reply.UserId">@reply.User.Username</a>
            </div>
            <div class="reply-content">
                <div class="reply-content-header">
                    <time datetime="@reply.DatePosted.ToString("O")">@reply.DatePosted.ToString("f")</time>
                    <div class="divider"></div>
                    <a href="@(Url.Page("/Threads/View", new { threadId = reply.ThreadId }) + $"#r{reply.ReplyId}")">permalink</a>
                </div>
                <p>@reply.Content</p>
            </div>
        </div>
    }
    
    @if (User.Identity is { IsAuthenticated: true })
    {
        <form class="reply-form" asp-page-handler="Reply" method="post">
            @if (Model.ReplyError != null)
            {
                <div class="error-msg">@Model.ReplyError</div>
            }
            <textarea name="content" placeholder="Reply content"></textarea>
            <button type="submit">Reply</button>
        </form>
    }
</div>