@page "/threads/{threadId}/{handler?}"
@using SimpleForum.Models
@model Threads.View
@{
    ViewData["Title"] = Model.Data.Title;
}

<div class="main-container">
    <div class="thread-header">
        <h1>@Model.Data.Title</h1>
    </div>
    
    @foreach (ForumReply reply in Model.Data.Replies)
    {
        <div class="thread-reply">
            <div class="reply-profile-container">
                <img class="reply-profile-image" src="/images/profile_images/@(reply.User.ProfileImage).jpeg" />
                <a href="javascript:void(0)">@reply.User.Username</a>
            </div>
            <div class="reply-content">
                <div class="reply-content-header">
                    <time datetime="@reply.DatePosted.ToString("O")">@reply.DatePosted.ToString("f")</time>
                    <div class="divider"></div>
                    <a href="javascript:void(0)">#1</a>
                </div>
                <p>@reply.Content</p>
            </div>
        </div>
    }
    
    @if (User.Identity is { IsAuthenticated: true })
    {
        <form class="reply-form" asp-page-handler="Reply" method="post">
            @if (Model.ReplyError != null)
            {
                <div class="error-msg">@Model.ReplyError</div>
            }
            <textarea name="content" placeholder="Reply content"></textarea>
            <button type="submit">Reply</button>
        </form>
    }
</div>